@import "tailwindcss";

.swiper-pagination-bullet-active {
  background-color: #7dc01d;
}

.swiper {
	margin: auto;
	width: 1110px;
}

@media (max-width:1200px) {
.swiper
	{
	width: 930px;
}
}

@media (max-width:990px) {
.swiper
	{
	width: 690px;
}
}

@media (max-width:730px) {
.swiper
	{
	overflow: hidden;
	width: auto;
}
}

.swiper-slide {
	overflow: hidden
}

.text-green {
	color: #7dc01d;
}

.text-darkgreen {
	color: #527e13;
}

.bg-green {
	background-color: #7dc01d;
}

.mb-[20px] {
	
}
